# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
.venv/
.myenv/
myenv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Godot
**/.godot/

# Dataset
tasks/object_detection/dataset/*

# Model artifacts
tasks/object_detection/models/*
/GodotSimulation/ducky-bot/models/circleroad_Seamless-Black-Asphalt-Road-Texture.webp
/GodotSimulation/ducky-bot/models/circleroad_Seamless-Black-Asphalt-Road-Texture.webp.import
/GodotSimulation/ducky-bot/models/CircularRoad_Final_curve.png
/GodotSimulation/ducky-bot/models/CircularRoad_Final_curve.png.import
/GodotSimulation/ducky-bot/models/CircularRoad_Final_straight_Whiteboarder.png
/GodotSimulation/ducky-bot/models/CircularRoad_Final_straight_Whiteboarder.png.import
/GodotSimulation/ducky-bot/models/lane_follower_Final_curve.png
/GodotSimulation/ducky-bot/models/lane_follower_Final_curve.png.import
/GodotSimulation/ducky-bot/models/lane_follower_Final_straight_Whiteboarder.png
/GodotSimulation/ducky-bot/models/lane_follower_Final_straight_Whiteboarder.png.import
/GodotSimulation/ducky-bot/models/Modcon_Final_straight_Whiteboarder.png
/GodotSimulation/ducky-bot/models/Modcon_Final_straight_Whiteboarder.png.import
/GodotSimulation/ducky-bot/models/road_Seamless-Black-Asphalt-Road-Texture.webp
/GodotSimulation/ducky-bot/models/road_Seamless-Black-Asphalt-Road-Texture.webp.import
